



@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(117, 4, 4);
}

footer a{
    text-decoration: none;
}
