.intro {
    padding: 100px;
    color: aliceblue;
    h1 {
        margin-bottom: 20px;
        text-align: center;
    }  
    p {
        padding: 10px;
        text-align: center;
        border: solid rgb(71, 4, 4) 3px;
        border-radius: 3px;
        background-color: black;
        color: rgb(240, 28, 28);
    }
}
