.promo {
    padding: 20px;
    color: aliceblue;
    text-shadow: 2px 2px 5px;
}

.bg-card {
    background-color: #000000;
}

.card {
    h2 {
    font-size: 1rem;
    color: #fff;
    }
    p {
        color: #ff0000;
    }
}

article {
    margin-bottom: 10px;
}
